<nav class="navbar  is-white is-fixed-top animated fadeIn">
    <div class="container 	">

        <div class="navbar-brand">
            <a class="navbar-item">


                <h1 class="title is-1 ">
                    SENSE
                </h1>


            </a>

        </div>

        <div class="navbar-menu ">
            <div class="navbar-start" *ngIf="usuariovalidado()">
                <a class="navbar-item " [routerLink]="['home']" routerLinkActive="is-active">
                            Home
                          </a>
                <a class="navbar-item " [routerLink]="['precios']" routerLinkActive="is-active">
                            Precios
                          </a>
                <a class="navbar-item " [routerLink]="['protegida']" routerLinkActive="is-active">
                            Protegida
                          </a>
            </div>

            <div class="navbar-end ">
                <div class="navbar-item" *ngIf="!usuariovalidado()">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-medium is-light ">
                                <span class="icon">
                                    <i class="fab fa-twitter fa-2x"></i>
                                  </span>

                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-medium is-light ">
                                <span class="icon">
                                    <i class="fab fa-facebook-f fa-2x"></i>
                                  </span>

                            </a>
                        </p>
                    </div>
                </div>
                <div class="navbar-item" *ngIf="usuariovalidado()">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-outlined is-danger " (click)="logout()">
                                <span class="icon">
                                        <i class="fas fa-sign-out-alt fa-2x"></i>
                                      </span>
                                <span>Log out</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</nav>